
.app-list {
    width: 100%;
    padding: 4.8rem var(--gap-24);
    border-radius: var(--radius-16);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    text-align: left;
}

.list-header {
    padding: var(--gap-16) var(--gap-24);
    font-weight: var(--weight-medium);
}

.list-header,
.list-items {
    width: 100%;
}

.list-items button + button {
    margin-top: var(--gap-12);
}

.list-item {
    width: 100%;
    max-height: 50px;
    border: 1px solid var(--gray-50);
    border-radius: var(--radius-8);
    padding: var(--gap-12) var(--gap-24);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.item {
    max-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 1;
}

.item.small {
    min-width: 40px;
}

.item.medium {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

.item.large {
    flex-grow: 1;
    max-width: 80%;
}

.item.gray {
    color: var(--gray-500)
}